	<!DOCTYPE html>
	<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/mobile.css">
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="expires" content="Tue, 01 Nov 2020 12:53:00 GMT" />
		<title>Venkat Kamath</title>
	</head>
	<body>
		<div onclick="home()" class='outer hide'>
			<div></div>
			<div></div>
		</div> 
		<div onclick="scrollDown()" class="down hide">
			<div></div>
			<div></div>
		</div>
		<div class="landing main" onclick="tap()">
			<div class="flex-box">
				<div class="part">
					<div class="intro">
						<h1 class="intro-text text">
							<span class="one">Hello,</span><span class="two" style="animation-delay: 0s;"><a onclick="show('.about')">About</a></span>
						</h1>
						<h1 class="intro-text text">			
							<span class="one">I am</span><span class="two" style="animation-delay: 0.5s;"><a onclick="show('.work')">Work</a></span>
						</h1>
						<h1 class="intro-text text">
							<span class="one">Venkat</span><span class="two" style="animation-delay: 1s;"><a onclick="show('.blog')">Buzz</a></span>
						</h1>
						<h1 class="intro-text text">
							<span class="one">Kamath.</span><span class="two" style="animation-delay: 1.5s;"><a onclick="show('.contact')">Contact</a></span>
						</h1>
					</div>
				</div>
				<div class="image part">
				
				</div>
			</div>
			<div class="notification hide">
			</div>
		</div>


		<div class="about main hide">
			<div class="part">
				<h1 class="text">I enjoy working with and managing tech.</h1>
			</div>
			<div class="part2 text title" style="text-align: justify;">
				Hi, I am Venkat. All things Product and Technology excite me. I have donned various hats in the Technology space and enjoy working with and developing new products and features. I have primarily worked in the finance domain like Banking and wealth management as a Business analyst, Technology Manager, Product Manager, Liason, Subject Matter Expert,  UI, UX, or by any other market defined function-title. I'm also a multi-disciplinary individual with over 10 years of experience in a wide range of design disciplines, manager, advisor, entrepreneur, front-end developer, music enthusiast, traveler, foodie, Motorcyclist, Runner, and more.
				<br><br>
				I don’t like to define myself by the work I’ve done. I define myself by the work I want to do. Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself and do interesting things that matter.
				<br><br>
				Fueled by high energy levels and boundless enthusiasm, I’m easily inspired and more than willing to follow my fascinations wherever they take me. I’m a passionate, expressive, multi-talented spirit with a natural ability to engage and inspire. I’m never satisfied to just come up with ideas. Instead, I have an almost impulsive need to act on them.
				<br><br>
				My abundant energy fuels me in the pursuit of many interests, hobbies, areas of study, and artistic endeavors. I’m a fast learner, able to pick up new skills and juggle different projects and roles with relative ease.
				<br><br>
				I like to develop expertise in a number of areas over the course of my life and career. 
				<br>
				<br>
			</div>
		</div>

		<div class="work main hide">
			<div class="part">
				<h1 class="text">Companies I have been associated with.</h1>
			</div>
			<div class="part2 mob-flex"></div>
			<div class="part">
				<h1 class="text">Professional Highlights</h1>
			</div>
			<div class="part2">
				<ul class="part2 text title" style="text-align: justify;">
					<li>Responsible for identifying business process re-engineering and business architecture deliverables, methodologies and tools</li>
					<li>Involved in business planning including identifying, confirming and documenting the key business drivers and critical success factors that driving change</li>
					<li>Involved in Scoping, Requirements gathering and solution design phases of assignments and projects</li>
					<li>Provided key data elements needed to evaluate the health of projects and prepare regular updates</li>
					<li>Key Driver for Proposing, Interviewing, Negotiating, Acquiring and Documenting different MFA (Multi Factor Authentication), Development aid, and Testing Software’s deemed fit to the companies needs</li>
					<li>Worked with developers and QA to refine user stories/BDD features and assist with rapid user feedback on a team using an outside-in development methodology</li>
					<li>Worked within an Agile framework to deliver products in fortnightly sprints &amp; prioritizing development team’s efforts </li>
					<li>Recommended resource requirements and supported project planning from business expertise to testing and Quality Assurance</li>
					<li>Collaborated with Quality Assurance teams and other Business Systems Analysts to ensure compliance to framework and Project methodologies</li>
					<li>Developed/led change management and business processes to address complex business issues in a cost-effective manner</li>
					<li>Managed customer expectations, plans, and assessed implications for enterprise Business goals</li>
					<li>Influenced and negotiated with Clients through Business Partnerships and vendor negotiations</li>
					<li>Drove relationship and served as a consultant between Development and Enterprise Client organizations business improvement processes and systems integration</li>
					<li>Educated Business clients on best practices used in the automation of solutions (technical, workflow or business process)</li>
					<li>Served as a Business Subject Matter Expert for Business specific processes and its integration with emerging Technologies</li>
				</ul>
			</div>
			<div class="part">
				<h1 class="text">Skills and Certifications.</h1>
			</div>
			<div class="part2">
				<div class="skills">
					<div class="skill-card">
						<img class="skill" src="/static/images/ms-project.svg">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/ms-visio.svg">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/ms-excel.svg">
					</div>
				</div>
				<div class="skills">
					<div class="skill-card">
						<img class="skill" src="/static/images/mysql.svg" style="height: 120px;">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/teradata.svg" style="height: 140px;">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/mongodb.svg" style="height: 40px;">
					</div>
				</div>
				<div class="skills">
					<div class="skill-card">
						<img class="skill" src="/static/images/selenium.png" style="height: 120px;">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/rally.png" style="height: 120px;">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/jira.svg" style="height: 30px;">
					</div>
				</div>
				<div class="skills">
					<div class="skill-card">
						<img class="skill" src="/static/images/html.svg">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/css.svg">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/javascript.svg">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/python.svg">
					</div>
				</div>
				<div class="skills">
					<div class="skill-card">
						<img class="skill" src="/static/images/servicenow.png" style="height: 40px;">
					</div>
					<div class="skill-card">
						<img class="skill" src="/static/images/aws.svg" style="height: 150px;">
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="part2">
				<div class="skills">
					<div class="skill-card" style="height: 220px;">
						<a href="/static/certificates/ProjectManagementProfessional.pdf" target="_blank">
							<img class="skill cert" src="/static/images/pmp.jpg" style="height: 200px; margin-top: 50px;">
						</a>
					</div>
					<div class="skill-card" style="height: 220px;">
						<a href="/static/certificates/SAFEAgilist.pdf" target="_blank">
							<img class="skill cert" src="/static/images/safeagile.jpg" style="height: 200px; margin-top: 50px;">
						</a>
					</div>
					<div class="skill-card" style="height: 220px;">
						<a href="/static/certificates/OraclePL-SQLDeveloperCertifiedAssociate.pdf" target="_blank">
							<img class="skill cert" src="/static/images/oracle.jpg" style="height: 200px; margin-top: 50px;">
						</a>	
					</div>

					<div class="skill-card" style="height: 220px;">
						<a href="/static/certificates/ITILFoundationCertificateinITServiceManagement.pdf" target="_blank">
							<img class="skill cert" src="/static/images/itil.jpg" style="height: 200px; margin-top: 50px;">
						</a>	
					</div>
				</div>
			</div>
		</div>

		<div class="blog main hide">
			<div class="part">
				<h1 class="text">Archived blogs from the Internet.</h1>
			</div>
			<div class="part2">
				{% for i in range(len_blogs) %}
					<a class="article" href="{{blogs[i]['url']}}" target="_blank">
						<div>
							<h2>{{blogs[i]['head']}}</h2>
							<p>{{blogs[i]['para']}}</p>
							<small class="author">{{blogs[i]['author']}}</small><br>
							<p><small class="date">{{blogs[i]['date']}}</small>  <small>{{blogs[i]['time']}} mins read</small></p>
						</div>
						<div class="vertical-center">
							{% if blogs[i]['image'] == '' %}
						        <img class="center" src="/static/images/blog.jpg">
						    {% else %}
						    	<img class="center" src="{{blogs[i]['image']}}">
						    {% endif %}
						</div>
					</a>
				{% endfor %}
			</div>
			<br>
			<br>
		</div>

		<div class="contact main hide">
			<div class="part">
				<h1 class="text">Get in touch.</h1>
				<div id="contact-flex" class="flex-box">
					<a href="mailto:kamath.venkat@gmail.com" target="_blank" class="vertical-center"><img src="/static/images/gmail.png"></a>
					<a href="https://www.linkedin.com/in/kamathvenkatray" target="_blank" class="vertical-center"><img src="/static/images/linkedin.png"></a>
					<a href="https://github.com/kamathvenkat88" target="_blank" class="vertical-center"><img src="/static/images/github.svg"></a>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/static/js/index.js"></script>
	</body>
	</html>